{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Luiz, the Engineer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'eng_index_style.css' %}"/>

</head>
<body>
  <header>
    <h1>Hi, I'm Luiz!</h1>
  </header>

  <div class="card">
    <div class="description">
      <img 
        src="{% static 'portrait.jpg' %}" 
        alt="Profile Picture" 
        class="profile-image" 
        width="3000" 
        height="4500"
      />
      {% for paragraph in paragraphs %}
      <p>{{ paragraph }}</p>
      {% endfor %}
      <p>
        ...but <a href="#" id="openModal" style="color: var(--accent); text-decoration: underline;">feel free to ask!</a>
      </p>
      
    </div>
  </div>
  <br>

  <div class="card">
    <h2 style="text-align: center;">

      <a href="#" id="openModal2" style="color: var(--accent); text-decoration: underline;">Contact Me!</a>
    </h2>
  </div>

  <div id="my-gallery-container">

    <header id="my-gallery-header">
      <h2>My Personal Projects</h2>
    </header>

    <div class="card">
      <main class="my-gallery-grid">
        <div class="my-gallery-container">
          {% for project_info in projects %}
          <div class="project-container">
            <div class="my-gallery-title">{{ project_info.name}}</div>
            <a class="my-gallery-link" href="{{ project_info.link }}">
              <img class="my-galley-image" src="{% static 'github_icon.png' %}">
            </a>
            <div class="my-gallery-description">{{ project_info.description }}</div>
          </div>
          {% endfor %}
        </div>
      </main>
    </div>

  </div>

<div id="contactModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Talk to me!</h2>
    <ul>
      <li>
        <i class="fas fa-envelope"></i>
        <a href="mailto:valuiz1@gmail.com">valuiz1@gmail.com</a>
      </li>
      <li>
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/luiz-gustavo-oliveira-3a3623226/" target="_blank">LinkedIn</a>
      </li>
      <li>
        <i class="fas fa-phone"></i>
        <a href="tel:+5585974011007">+55 (85) 97401-1007</a>
      </li>
    </ul>
  </div>
</div>

  

  <script>
    const modal = document.getElementById("contactModal");
    const btn = document.getElementById("openModal");
    const btn2 = document.getElementById("openModal2");
    const span = document.getElementsByClassName("close")[0];
  
    const open_contacts = function(event) {
      event.preventDefault();
      modal.style.display = "block";
    }
    btn.onclick = open_contacts;
    btn2.onclick = open_contacts;
  
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    window.onclick = function(event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    }
  </script>
  
</body>
</html>
